#basicMap {
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
html, body {
    height: 100%;
}
#wrapper {
    position: relative;
    min-height: 100%;
}
.overlap {
    position:relative;
    z-index:2;
    width: 20%;
    height: 100%;
    background: white;
    float: left;
    margin: 3%;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    visibility: hidden;
}
#directionsBtn {
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    height:100%;
}
.input-group {
    margin: 3%;
    visibility: hidden;
}