<!DOCTYPE html>
<html>
<head>
    <title>Developer page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
</head>
<body>
    <div class="container">
  <h2>API Documentation</h2>
  <p>GET requests</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Request</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/bars</td>
        <td>Lists all bars</td>
      </tr>
      <tr>
        <td>/bar/(name)</td>
        <td>Returns one bar with specified (name)</td>
      </tr>
      <tr>
        <td>/bar/count</td>
        <td>Returns number of the bars</td>
      </tr>
    </tbody>
  </table>
    <p>POST requests</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Request</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/bar/(name)</td>
        <td>Updates one bar with specified (name)</td>
      </tr>
      <tr>
        <td>/bar/add_bar</td>
        <td>Adds new bar</td>
      </tr>
    </tbody>
  </table>
  <p>Delete requests</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Request</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/bar/(name)</td>
        <td>Deletes one bar with specified (name)</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
