 <!DOCTYPE html>
<html>
<head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
      <link rel="stylesheet" href="../static/css/style.css"/>
       <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
       <script src="../static/js/requests.js"></script>
       <script src="../static/js/map.js"></script>
</head>
<body onLoad="init();">
      <div id="wrapper">
            <div id="basicMap"></div>
            <div id="infoBox" class="container overlap">
                  <h1 id="barName">Buarin nimi</h1>
                  <h4 id="openHours">Aukiolo</h4>
                  <h4 id="pricesHeader">Prices</h4>
                  <ul id="prices">
                  </ul>
            </div>
      </div>

</body>
</html>
