 <!DOCTYPE html>
<html>
<head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="../static/css/style.css"/>
       <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
       <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=IpCtPcR3bgexf09YcsxRsNtNKg1y7xLf"></script>
        <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=IpCtPcR3bgexf09YcsxRsNtNKg1y7xLf"></script>
       <script src="../static/js/requests.js"></script>
       <script src="../static/js/map.js"></script>
       <title>Bars on map</title>
</head>
<body onLoad="init();">
      <div id="wrapper">
            <div id="basicMap"></div>
            <div id="infoBox" class="container overlap">
                  <h1 id="barName">Buarin nimi</h1>
                  <h4 id="openHours">Aukiolo</h4>
                  <h4 id="pricesHeader">Prices</h4>
                  <ul id="prices">
                  </ul>
                  <div id="directionsBtn" class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" onclick="directionsInput();"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                  </div>
                  <div id="inputgroup" class="input-group">
                        <input type="text" class="form-control" id="startpoint" placeholder="Start point.." aria-describedby="basic-addon2">
                        <span class="input-group-btn">
                              <button class="btn btn-default" type="button" onclick="directionsSend();">Go!</button>
                        </span>
                  </div>
            </div>
            <div id="developerBtn" class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" onclick=""><span class="glyphicon glyphicon-console" aria-hidden="true"></span></button>
            </div>
      </div>

</body>
</html>
